$perk-animation-height: 30px;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

body {
  overflow: hidden;
  background: #1e1e1e;
  color: #f9f9f9;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 8px
}

game-layout {
  display: flex;
}

.ephemeral {
  position: absolute;
  top: -50px;
  left: 0px;

  &:not(.perk) {
    animation: $ephemeral-duration linear 0.05s falling;
    width: 50px;
    height: 50px;
  }

  &:not(.interactive) {
    pointer-events: none;
  }

  &.interactive {
    cursor: pointer;
  }
}

@keyframes falling {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(110vh);
  }
}

@keyframes flying-2 {
  from {
    left: -2vw;
  }

  to {
    left: 110vw;
  }
}

@keyframes flying {
  0% {
    transform: translate(-2vw, -$perk-animation-height);
  }

  10% {
    transform: translate(6.5vw, $perk-animation-height);
  }

  20% {
    transform: translate(18vw, -$perk-animation-height);
  }

  30% {
    transform: translate(29.5vw, $perk-animation-height);
  }

  40% {
    transform: translate(41vw, -$perk-animation-height);
  }

  50% {
    transform: translate(52.5vw, $perk-animation-height);
  }

  60% {
    transform: translate(64vw, -$perk-animation-height);
  }

  70% {
    transform: translate(75.5vw, $perk-animation-height);
  }

  80% {
    transform: translate(87vw, -$perk-animation-height);
  }

  90% {
    transform: translate(98.5vw, $perk-animation-height);
  }

  100% {
    transform: translate(110vw, -$perk-animation-height);
  }

}

// @keyframes y-1 {
//   to { transform: translateY(calc($perk-animation-height + 0.2px)); }
// }