body {
  overflow: hidden;
}

.ephemeral {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -50px;
  left: 0px;
  animation: $ephemeral-duration linear 0.05s falling;
  &:not(.interactive){
    pointer-events: none;
  }
}

@keyframes falling {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(110vh);
  }
}
